.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #f7f7f7;
    margin-left: 140px;
    margin-right: 140px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 32px;
}

nav li {
    text-decoration: none;
    list-style: none;
}

.menu ul {
    display: flex;
    gap: 32px;
    font-size: 20px;
    font-weight: 500;
}

.home {
    color: #fea301;
}

.about {
    color: #01acfd;
}

.facilities {
    color: #05d4df;
}

.admission {
    color: #5d58ef;
}

.menu-icon {
    display: none;
}

nav button {
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background-color: #fea301;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: -50px;
}

.empowering {
    color: #fea301;
}

.towards-vision {
    color: #01acfd;
}

.banner p {
    font-size: 20px;
    margin-top: 75px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner button {
    background-color: #111;
    color: white;
    border: none;
    border-radius: 12px;
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 576px) {
    body {
        margin-left: 15px;
        margin-right: 15px;
    }

    .site-title h1 {
        display: none;
    }

    .site-title img {
        width: 46px;
        height: 46px;
    }

    .home {
        display: none;
    }

    .about {
        display: none;
    }

    .facilities {
        display: none;
    }

    .admission {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    nav button {
        display: none;
    }

    nav {
        border-bottom: 1px solid rgb(221, 221, 221);
        padding: 10px;
        justify-content: space-between;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .banner img {
        width: 90vw;
        justify-content: center;
    }

    .banner h1 {
        text-align: center;
        font-size: 32px;
        margin-bottom: -30px;
    }

    .banner p {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        margin-top: 50px;
    }

    .banner button {
        display: flex;
        padding: 6px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
}