.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #f7f7f7;
    margin-left: 140px;
    margin-right: 140px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 32px;
}

nav li {
    text-decoration: none;
    list-style: none;
}

.menu ul {
    display: flex;
    gap: 32px;
    font-size: 20px;
    font-weight: 500;
}

.home {
    color: #fea301;
}

.about {
    color: #01acfd;
}

.facilities {
    color: #05d4df;
}

.admission {
    color: #5d58ef;
}

.menu-icon {
    display: none;
}

nav button {
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background-color: #fea301;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

marquee {
    background-color: #01acfd;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: -135px;
    margin-right: -135px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: -50px;
}

.empowering {
    color: #fea301;
}

.towards-vision {
    color: #01acfd;
}

.banner p {
    font-size: 20px;
    margin-top: 75px;
}

.hero {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.banner button {
    background-color: #111;
    color: white;
    border: none;
    border-radius: 12px;
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.standard-curriculum {
    text-align: center;
    font-size: 46px;
    font-weight: 700;
}

.curriculum-section {
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.curriculum {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.curriculum-card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    border-radius: 18.864px;
    border: 1px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    height: 475px;
}
.curriculum-card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    border-radius: 18.864px;
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    height: 475px;
}
.curriculum-card-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    border-radius: 18.864px;
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    height: 475px;
}

.curriculum-card img {
    width: 136px;
    height: 136px;
}

.curriculum-card h4 {
    font-size: 24px;
    font-weight: 700;
}

.curriculum-card p {
    text-align: center;
    margin-top: -10px;
    color: #808080;
    font-weight: 500;
}

.curriculum a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}

.read-more-1 {
    color: #01acfd;
}

.read-more-2 {
    color: #fea301;
}

.read-more-3 {
    color: #5d58ef;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.nav-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #fea301;
    color: white;
    border: none;
    border-radius: 50px;
    margin: 10px;
}

.our-stories {
    background: linear-gradient(to top, #01acfd, transparent), url(./assets/bg.png);
    margin-left: -140px;
    margin-right: -140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 140px;
    padding-right: 140px;
}

.our-stories h1 {
    text-align: center;
    font-size: 46px;
    font-weight: 700;
}

/* .stories {
    margin-left: 140px;
    margin-right: 140px;
} */

.story-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    border: none;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}

.story-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.date {
    background-color: #01acfd;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    width: 200px;
    margin-top: -20px;
    margin-left: 10px;
    text-align: left;
}

.story-card h4 {
    margin: 10px;
}

.story-card p {
    margin: 10px;
}

.stories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.story-button {
    display: block;
    align-items: center;
    justify-content: center;
    width: 197px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #111;
    margin: 50px;
}

.story-card.hidden-card {
    display: none;
}

footer {
    background-color: #01acfd;
    margin-left: -140px;
    margin-right: -140px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    color: white;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 75px;
    padding-bottom: 100px;
}

footer h1 {
    font-size: 42px;
    font-weight: 700;
}

footer p {
    font-size: 20px;
    font-weight: 400;
}

footer h4 {
    font-size: 24px;
    font-weight: 700;
}

.bottom-title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.info {
    width: 400px;
}

.bottom-menu {
    width: 400px;
}

.social {
    width: 400px;
}

footer li {
    list-style: none;
    margin-left: -40px;
    margin-top: 25px;
    font-size: 20px;
}

@media (max-width: 576px) {
    body {
        margin-left: 15px;
        margin-right: 15px;
    }

    .site-title h1 {
        display: none;
    }

    .site-title img {
        width: 46px;
        height: 46px;
    }

    .home {
        display: none;
    }

    .about {
        display: none;
    }

    .facilities {
        display: none;
    }

    .admission {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    nav button {
        display: none;
    }

    nav {
        border-bottom: 1px solid #fea301;
        padding: 10px;
        justify-content: space-between;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .banner img {
        width: 90vw;
        justify-content: center;
    }

    .banner h1 {
        text-align: center;
        font-size: 32px;
        margin-bottom: -30px;
    }

    .banner p {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        margin-top: 50px;
    }

    .banner button {
        display: flex;
        padding: 6px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    marquee {
        width: 100%;
        margin: 45px 0px;
    }

    .standard-curriculum {
        font-size: 26px;
        font-weight: 700;
    }

    .curriculum h4 {
        font-size: 16px;
        font-weight: 700;
    }

    .curriculum p {
        font-size: 15px;
    }

    .curriculum {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-button {
        display: none;
    }

    .our-stories {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .story-card {
        width: 175px;
    }

    .date {
        width: 65%;
        font-size: 9px;
        margin-top: -18px;
    }

    .stories h4 {
        font-size: 9px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .story-card.big-card {
        display: none;
    }

    .story-card.hidden-card {
        display: block;
    }

    footer {
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    footer h1 {
        font-size: 35px;
    }

    footer p {
        font-size: 16px;
    }

    footer h4 {
        font-size: 20px;
        font-weight: 600;
    }

    footer li {
        margin-top: 10px;
    }
}